<main class="cart-container">
  <ion-button class="close-cart-button" fill="clear" size="small" mode="md" (click)="toggleCartState()">
    <ion-icon class="close-cart-icon" slot="icon-only" name="caret-down-circle"></ion-icon>
  </ion-button>

  <h3 class="header">My order</h3>
  

  <section class="cart-items">
    <!-- Each cart item should have its own container it will reside in. -->
    <div class="open-cart-item-container" #container1 #cartItemsOpenContainer
      *ngFor="let item of cartItems;let i = index">
      <article class="cart-item" #item>
        <div class="image"></div>
        <div class="content">
          <span class="name">Product 1</span>
          <span class="price">€44,99</span>
        </div>
      </article>
    </div>
  </section>

  <section class="totals">
    <div class="total">
      <span class="label">Subtotaal</span>
      <span class="value">€45,00</span>
    </div>
    <div class="total">
      <span class="label">BTW (15%)</span>
      <span class="value">€15,00</span>
    </div>
    <div class="total">
      <span class="label"><strong>Totaal</strong></span>
      <span class="value"><strong>€60,00</strong></span>
    </div>
  </section>


  <div class="closed-container">
    <div class="closed-cart-item-container" #container2 #cartItemsClosedContainer
      *ngFor="let item of cartItems; let i = index">
      <!-- This is where the item will be placed once the shopping cart is in closed position. -->
    </div>
  </div>
</main>